body {
	position: relative;
}
.form-user {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.new-user__input {
	border: none;
	outline: none;
	color: #333;
	text-transform: uppercase;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #0c5460;
	margin: 15px;
}

.new-user__input--btn {
	background-color: #0c5460;
	color: #eee;
}
.button {
	padding: 10px 15px;
	border: none;
	outline: none;
	font-size: 24px;
}
.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown {
	position: relative;
}
.login-container {
	position: absolute;
	z-index: 10;
	top: 60px;
	height: 90vh;
	width: 100%;
	background-color: #999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dn {
	display: none;
}
.db {
	display: block;
}
.login__form {
	width: max-content;
	margin: 0 auto;
	background-color: #eee;
	border: 1px solid #777777;
}
.header {
	background-color: #ccc;
	min-height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.create-visit-form {
	/*background-color: #999;*/
	width: 100%;
	flex-direction: column;
	position: absolute;
	z-index: 10;
	top: 60px;
	height: 90vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
.create-visit-form__container {
	width: 600px;
	display: flex;
	background-color: rgb(233, 229, 229);
	border-radius: 20px;
	margin: 0 auto;
}
.create-visit-form__container form {
	margin: 20px;
}
.cards {
	display: flex;
	flex-wrap: wrap;
}

.loader{
	margin: 100px auto;
}
.card {
	min-width: 300px;
	max-width: 350px;
}


.form-horizontal {
	width: 450px;
	padding: 1.5rem;
}

.col-md-8 {
	max-width: none;
	display: flex;
	justify-content: center;
}

.form-control .input-md {
	width: 100%;
}

.btn .btn-success {
	margin-right: 30px;
}